Order_Application_Seller/Order_Application_Seller/Connected Services/YourItemReference/UserItem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/ServiceBuyGrandSeller/UserItem.asmx/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/ServiceBuyGrandSeller/UserItem.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/ServiceBuyGrandSeller/UserItem.asmx/">
      <s:element name="items">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="page" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="filter" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="itemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemsResult" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="price" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="image_path" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="discount" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="rating" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ratingCount" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="order_count" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity_available" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subcategory" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="itemCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="itemCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemCountResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="itemsSoapIn">
    <wsdl:part name="parameters" element="tns:items" />
  </wsdl:message>
  <wsdl:message name="itemsSoapOut">
    <wsdl:part name="parameters" element="tns:itemsResponse" />
  </wsdl:message>
  <wsdl:message name="itemCountSoapIn">
    <wsdl:part name="parameters" element="tns:itemCount" />
  </wsdl:message>
  <wsdl:message name="itemCountSoapOut">
    <wsdl:part name="parameters" element="tns:itemCountResponse" />
  </wsdl:message>
  <wsdl:portType name="UserItemSoap">
    <wsdl:operation name="items">
      <wsdl:input message="tns:itemsSoapIn" />
      <wsdl:output message="tns:itemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="itemCount">
      <wsdl:input message="tns:itemCountSoapIn" />
      <wsdl:output message="tns:itemCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserItemSoap" type="tns:UserItemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="items">
      <soap:operation soapAction="http://localhost/ServiceBuyGrandSeller/UserItem.asmx/items" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemCount">
      <soap:operation soapAction="http://localhost/ServiceBuyGrandSeller/UserItem.asmx/itemCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserItemSoap12" type="tns:UserItemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="items">
      <soap12:operation soapAction="http://localhost/ServiceBuyGrandSeller/UserItem.asmx/items" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemCount">
      <soap12:operation soapAction="http://localhost/ServiceBuyGrandSeller/UserItem.asmx/itemCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserItem">
    <wsdl:port name="UserItemSoap" binding="tns:UserItemSoap">
      <soap:address location="http://localhost/ServiceApplicationBuyGrandSeller/UserItem.asmx" />
    </wsdl:port>
    <wsdl:port name="UserItemSoap12" binding="tns:UserItemSoap12">
      <soap12:address location="http://localhost/ServiceApplicationBuyGrandSeller/UserItem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>