Order_Application_Admin/Order_Application_Admin/Connected Services/SalesReference/ViewSales.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/ViewSales.asmx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/ViewSales.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/ViewSales.asmx/">
      <s:element name="getSalesData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="startDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSalesDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSalesDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getSalesDataSoapIn">
    <wsdl:part name="parameters" element="tns:getSalesData" />
  </wsdl:message>
  <wsdl:message name="getSalesDataSoapOut">
    <wsdl:part name="parameters" element="tns:getSalesDataResponse" />
  </wsdl:message>
  <wsdl:portType name="ViewSalesSoap">
    <wsdl:operation name="getSalesData">
      <wsdl:input message="tns:getSalesDataSoapIn" />
      <wsdl:output message="tns:getSalesDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ViewSalesSoap" type="tns:ViewSalesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSalesData">
      <soap:operation soapAction="http://localhost/ViewSales.asmx/getSalesData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ViewSalesSoap12" type="tns:ViewSalesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSalesData">
      <soap12:operation soapAction="http://localhost/ViewSales.asmx/getSalesData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViewSales">
    <wsdl:port name="ViewSalesSoap" binding="tns:ViewSalesSoap">
      <soap:address location="http://localhost:60694/ViewSales.asmx" />
    </wsdl:port>
    <wsdl:port name="ViewSalesSoap12" binding="tns:ViewSalesSoap12">
      <soap12:address location="http://localhost:60694/ViewSales.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>