Order_Application_Seller/Order_Application_Seller/Connected Services/FeedbacksReference/GetFeedbacks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/ServiceBuyGrandSeller/GetFeedbacks.asmx/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/ServiceBuyGrandSeller/GetFeedbacks.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/ServiceBuyGrandSeller/GetFeedbacks.asmx/">
      <s:element name="ViewFeedbacks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewFeedbacksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewFeedbacksResult" type="tns:ArrayOfFeedback" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFeedback">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Feedback" nillable="true" type="tns:Feedback" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Feedback">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="submittedDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="addReplyToFeedback">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="originalID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reply" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="datetime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReplyToFeedbackResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addReplyToFeedbackResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ViewFeedbacksSoapIn">
    <wsdl:part name="parameters" element="tns:ViewFeedbacks" />
  </wsdl:message>
  <wsdl:message name="ViewFeedbacksSoapOut">
    <wsdl:part name="parameters" element="tns:ViewFeedbacksResponse" />
  </wsdl:message>
  <wsdl:message name="addReplyToFeedbackSoapIn">
    <wsdl:part name="parameters" element="tns:addReplyToFeedback" />
  </wsdl:message>
  <wsdl:message name="addReplyToFeedbackSoapOut">
    <wsdl:part name="parameters" element="tns:addReplyToFeedbackResponse" />
  </wsdl:message>
  <wsdl:portType name="GetFeedbacksSoap">
    <wsdl:operation name="ViewFeedbacks">
      <wsdl:input message="tns:ViewFeedbacksSoapIn" />
      <wsdl:output message="tns:ViewFeedbacksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addReplyToFeedback">
      <wsdl:input message="tns:addReplyToFeedbackSoapIn" />
      <wsdl:output message="tns:addReplyToFeedbackSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetFeedbacksSoap" type="tns:GetFeedbacksSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewFeedbacks">
      <soap:operation soapAction="http://localhost/ServiceBuyGrandSeller/GetFeedbacks.asmx/ViewFeedbacks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReplyToFeedback">
      <soap:operation soapAction="http://localhost/ServiceBuyGrandSeller/GetFeedbacks.asmx/addReplyToFeedback" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetFeedbacksSoap12" type="tns:GetFeedbacksSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ViewFeedbacks">
      <soap12:operation soapAction="http://localhost/ServiceBuyGrandSeller/GetFeedbacks.asmx/ViewFeedbacks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReplyToFeedback">
      <soap12:operation soapAction="http://localhost/ServiceBuyGrandSeller/GetFeedbacks.asmx/addReplyToFeedback" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetFeedbacks">
    <wsdl:port name="GetFeedbacksSoap" binding="tns:GetFeedbacksSoap">
      <soap:address location="http://localhost/ServiceApplicationBuyGrandSeller/GetFeedbacks.asmx" />
    </wsdl:port>
    <wsdl:port name="GetFeedbacksSoap12" binding="tns:GetFeedbacksSoap12">
      <soap12:address location="http://localhost/ServiceApplicationBuyGrandSeller/GetFeedbacks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>