Order_Application_Admin/Order_Application_Admin/Connected Services/DashboardReference/DashboardValues.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/DashboardValues.asmx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/DashboardValues.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/DashboardValues.asmx/">
      <s:element name="GetDashboardData">
        <s:complexType />
      </s:element>
      <s:element name="GetDashboardDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDashboardDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDashboardDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetDashboardData" />
  </wsdl:message>
  <wsdl:message name="GetDashboardDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDashboardDataResponse" />
  </wsdl:message>
  <wsdl:portType name="DashboardValuesSoap">
    <wsdl:operation name="GetDashboardData">
      <wsdl:input message="tns:GetDashboardDataSoapIn" />
      <wsdl:output message="tns:GetDashboardDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DashboardValuesSoap" type="tns:DashboardValuesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDashboardData">
      <soap:operation soapAction="http://localhost/DashboardValues.asmx/GetDashboardData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DashboardValuesSoap12" type="tns:DashboardValuesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDashboardData">
      <soap12:operation soapAction="http://localhost/DashboardValues.asmx/GetDashboardData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DashboardValues">
    <wsdl:port name="DashboardValuesSoap" binding="tns:DashboardValuesSoap">
      <soap:address location="http://localhost:60694/DashboardValues.asmx" />
    </wsdl:port>
    <wsdl:port name="DashboardValuesSoap12" binding="tns:DashboardValuesSoap12">
      <soap12:address location="http://localhost:60694/DashboardValues.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>