Order_Application_Admin/Order_Application_Admin/Connected Services/ManageSellerReference/ManageSeller.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/ManageSeller.asmx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/ManageSeller.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/ManageSeller.asmx/">
      <s:element name="manageSellers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="startindex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endindex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="manageSellersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="manageSellersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="deleteResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startindex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endindex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEmailResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="manageSellersSoapIn">
    <wsdl:part name="parameters" element="tns:manageSellers" />
  </wsdl:message>
  <wsdl:message name="manageSellersSoapOut">
    <wsdl:part name="parameters" element="tns:manageSellersResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSoapIn">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="deleteSoapOut">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="getEmailSoapIn">
    <wsdl:part name="parameters" element="tns:getEmail" />
  </wsdl:message>
  <wsdl:message name="getEmailSoapOut">
    <wsdl:part name="parameters" element="tns:getEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="ManageSellerSoap">
    <wsdl:operation name="manageSellers">
      <wsdl:input message="tns:manageSellersSoapIn" />
      <wsdl:output message="tns:manageSellersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:deleteSoapIn" />
      <wsdl:output message="tns:deleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEmail">
      <wsdl:input message="tns:getEmailSoapIn" />
      <wsdl:output message="tns:getEmailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ManageSellerSoap" type="tns:ManageSellerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="manageSellers">
      <soap:operation soapAction="http://localhost/ManageSeller.asmx/manageSellers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://localhost/ManageSeller.asmx/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmail">
      <soap:operation soapAction="http://localhost/ManageSeller.asmx/getEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ManageSellerSoap12" type="tns:ManageSellerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="manageSellers">
      <soap12:operation soapAction="http://localhost/ManageSeller.asmx/manageSellers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="http://localhost/ManageSeller.asmx/delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEmail">
      <soap12:operation soapAction="http://localhost/ManageSeller.asmx/getEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ManageSeller">
    <wsdl:port name="ManageSellerSoap" binding="tns:ManageSellerSoap">
      <soap:address location="http://localhost:60694/ManageSeller.asmx" />
    </wsdl:port>
    <wsdl:port name="ManageSellerSoap12" binding="tns:ManageSellerSoap12">
      <soap12:address location="http://localhost:60694/ManageSeller.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>