Order_Application_Seller/Order_Application_Seller/Connected Services/ReviewsReference/Reviews.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx">
      <s:element name="GetTopReviews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTopReviewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTopReviewsResult" type="tns:ArrayOfReview" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReview">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Review">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="reviewID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="subReviewCount" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="imagePath" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="datetime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="reviewDesc" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSubReviews">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="reviewID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSubReviewsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSubReviewsResult" type="tns:ArrayOfReview" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReview">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="itemID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="originalID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="review" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReviewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="addReviewResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTopReviewsSoapIn">
    <wsdl:part name="parameters" element="tns:GetTopReviews" />
  </wsdl:message>
  <wsdl:message name="GetTopReviewsSoapOut">
    <wsdl:part name="parameters" element="tns:GetTopReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSubReviewsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSubReviews" />
  </wsdl:message>
  <wsdl:message name="GetSubReviewsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSubReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="addReviewSoapIn">
    <wsdl:part name="parameters" element="tns:addReview" />
  </wsdl:message>
  <wsdl:message name="addReviewSoapOut">
    <wsdl:part name="parameters" element="tns:addReviewResponse" />
  </wsdl:message>
  <wsdl:message name="getUserSoapIn">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="getUserSoapOut">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:portType name="ReviewsSoap">
    <wsdl:operation name="GetTopReviews">
      <wsdl:input message="tns:GetTopReviewsSoapIn" />
      <wsdl:output message="tns:GetTopReviewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSubReviews">
      <wsdl:input message="tns:GetSubReviewsSoapIn" />
      <wsdl:output message="tns:GetSubReviewsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addReview">
      <wsdl:input message="tns:addReviewSoapIn" />
      <wsdl:output message="tns:addReviewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input message="tns:getUserSoapIn" />
      <wsdl:output message="tns:getUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReviewsSoap" type="tns:ReviewsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTopReviews">
      <soap:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/GetTopReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubReviews">
      <soap:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/GetSubReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReview">
      <soap:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/addReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReviewsSoap12" type="tns:ReviewsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTopReviews">
      <soap12:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/GetTopReviews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubReviews">
      <soap12:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/GetSubReviews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReview">
      <soap12:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/addReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap12:operation soapAction="http://localhost/ServiceApplicationBuyGrandSeller/Review.asmx/getUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reviews">
    <wsdl:port name="ReviewsSoap" binding="tns:ReviewsSoap">
      <soap:address location="http://localhost/ServiceApplicationBuyGrandSeller/Reviews.asmx" />
    </wsdl:port>
    <wsdl:port name="ReviewsSoap12" binding="tns:ReviewsSoap12">
      <soap12:address location="http://localhost/ServiceApplicationBuyGrandSeller/Reviews.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>