Order_Application_Admin/Order_Application_Admin/Connected Services/CategoryReference/Category.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/category.asmx/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/category.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/category.asmx/">
      <s:element name="categories">
        <s:complexType />
      </s:element>
      <s:element name="categoriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="categoriesResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="categoriesSoapIn">
    <wsdl:part name="parameters" element="tns:categories" />
  </wsdl:message>
  <wsdl:message name="categoriesSoapOut">
    <wsdl:part name="parameters" element="tns:categoriesResponse" />
  </wsdl:message>
  <wsdl:portType name="CategorySoap">
    <wsdl:operation name="categories">
      <wsdl:input message="tns:categoriesSoapIn" />
      <wsdl:output message="tns:categoriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CategorySoap" type="tns:CategorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="categories">
      <soap:operation soapAction="http://localhost/category.asmx/categories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CategorySoap12" type="tns:CategorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="categories">
      <soap12:operation soapAction="http://localhost/category.asmx/categories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Category">
    <wsdl:port name="CategorySoap" binding="tns:CategorySoap">
      <soap:address location="http://localhost:60694/Category.asmx" />
    </wsdl:port>
    <wsdl:port name="CategorySoap12" binding="tns:CategorySoap12">
      <soap12:address location="http://localhost:60694/Category.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>